<div class="container-fluid custom-container">
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <img src="" id="imagepreview" class="modal-image" >
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bookmodal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="m-header">Hotel Booking</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <form [hidden]="hotel?.rooms?.length == 0" id="bookform" #form="ngForm" (ngSubmit)="bookHotel(form.value);">
                        <fieldset>
                            <div class="form-group">
                                <label for="select">Room Number:</label>
                                <select
                                        (change)="countTotalPirce(days.value, roomNumber.value);"
                                        ngControl="roomNumber" #roomNumber class="form-control" id="select" required>
                                    <option [value]="room.number" *ngFor="#room of hotel?.rooms">{{room.number}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="days">Days: </label>
                                <input (input)="countTotalPirce(days.value, roomNumber.value);"
                                       ngControl="days" #days class="form-control" type="text" id="days" required>
                            </div>
                            <div class="form-group">
                                <label for="arrival">Arrival Date:</label>
                                <input id="arrival" type='text' class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="leaving">Leaving Date:</label>
                                <input id="leaving" type='text' class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="total">Total Price:</label>
                                <input id="total" class="form-control" [value]="totalPrice | currency:'USD':true:'1.2-2'">
                            </div>
                            <div class="text-center">
                                <button [disabled]="!form.valid" id="bookBtn" type="submit" class="btn btn-success modal-book-btn has-spinner">
                                    Book
                                    <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
                                </button>
                            </div>
                        </fieldset>
                    </form>
                    <h4 *ngIf="hotel?.rooms?.length == 0">No rooms for booking.</h4>
                </div>
                <div
                        *ngIf="isBooked"
                        class="text-center alert alert-success">
                    Room is successfuly booked.
                </div>
                <div
                        *ngIf="isError"
                        class="text-center alert alert-warning">
                    This room already booked for this dates.
                </div>
                <div
                        *ngIf="isDatesInvalid"
                        class="text-center alert alert-danger">
                    Fill arrival and leaving dates.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <spinner [isDataLoading]="isDataLoading"></spinner>
        <div class="col-lg-6 col-xs-12 custom-slider">
            <div
                    *ngIf="!isDataLoading && hotel?.images.length > 0"
                    id="myCarousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner" role="listbox">
                    <div [class.active]="i == 0" class="item" *ngFor="#image of images; #i = index">
                        <img class="custom-image" [src]="image.url"/>
                    </div>
                </div>

                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div *ngIf="!isDataLoading && hotel?.images.length == 0">
                <h4>No images.</h4>
            </div>
            <button
                    *ngIf="!isDataLoading"
                    (click)="showBookModal();"
                    class="book-btn btn btn-success">Book this hotel</button>
        </div>
        <div
                *ngIf="!isDataLoading"
                class="col-lg-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Hotel Name</div>
                <div class="panel-body">{{hotel?.name}}</div>
                <div class="panel-heading">Description</div>
                <div class="panel-body">{{hotel?.description}}</div>
                <div class="panel-heading">Stars</div>
                <div class="panel-body">
                    <ul class="stars">
                        <li
                                class="star-active"
                                *ngFor="#star of hotel?.stars">
                            <i class="fa fa-star-o"></i>
                        </li>
                    </ul>
                </div>
                <div class="panel-heading right" (click)="showRooms();" dropdown>
                    Rooms <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                <div *ngIf="isRoomsShown" class="panel-body">
                    <div [hidden]="hotel?.rooms?.length == 0" class="media" *ngFor="#room of hotel.rooms">
                        <div class="media-heading text-center">
                            <h6><i class="fa fa-key" aria-hidden="true"></i> {{room?.number}}</h6>
                        </div>
                        <div class="media-body">
                            <ul class="list-inline">
                                <li
                                        *ngFor="#image of room?.images"
                                        class="list-group-item"
                                >
                                    <img class="image openImage" [src]="image">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="hotel?.rooms?.length == 0">No rooms for this hotel</div>
                </div>
                <div
                        class="panel-heading right" (click)="showConditions();" dropdown>
                    Conditions <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                <div *ngIf="isConditionsShown" class="panel-body">
                    <div [hidden]="hotel?.conditions?.length == 0" class="media" *ngFor="#condition of hotel.conditions">
                        <div class="media-heading text-center">
                            <h6>{{condition?.name}}</h6>
                        </div>
                        <div class="media-body">
                            <ul class="list-inline">
                                <li
                                        *ngFor="#image of condition?.images"
                                        class="list-group-item"
                                >
                                    <img class="image openImage" [src]="image">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="hotel?.conditions?.length == 0">No conditions for this hotel</div>
                </div>
            </div>
        </div>
    </div>
</div>
