<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <spinner [isDataLoading]="isDataLoading"></spinner>
            <div class="row">
                <div
                        [hidden]="isDataLoading"
                        class="col-lg-6 col-xs-12">
                    <pagination
                            (page-change)="changePage($event);"
                            *ngIf="hotels != null && hotels.length > 10"
                            [items]="hotels"
                            [pageSize]="10"></pagination>
                    <div
                            class="panel panel-default">
                        <div
                                (click)="addFilter();"
                                class="panel-heading pointer" dropdown>
                            Filter <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <div
                                [hidden]="!isFilterNeed"
                                class="panel-body">
                            <div class="row">
                                <div class="col-lg-12 col-xs-12">
                                    <input id="search" (input)="searchHotel($event);" type="text" class="form-control search-input"
                                           placeholder="Enter Hotel Name...">
                                </div>
                            </div>
                            <div class="row">
                                <div class="star-active col-lg-2 col-lg-offset-1 col-xs-2 col-xs-offset-1 text-center">
                                    <input (change)="filterByStars(1);" class="star-radio" type="radio">
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="star-active col-lg-2 col-xs-2 text-center">
                                    <input (change)="filterByStars(2);" class="star-radio" type="radio">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="star-active col-lg-2 col-xs-2 text-center">
                                    <input (change)="filterByStars(3);" class="star-radio" type="radio">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="star-active col-lg-2 col-xs-2 text-center">
                                    <input (change)="filterByStars(4);" class="star-radio" type="radio">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="star-active col-lg-2 col-xs-2 text-center">
                                    <input (change)="filterByStars(5);" class="star-radio" type="radio">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-xs-4">
                                    Entering:
                                    <div class='input-group date' id='entering'>
                                        <input id="enteringD" type='text' class="form-control"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xs-4">
                                    Leaving:
                                    <div class='input-group date' id='leaving'>
                                        <input id="leavingD" type='text' class="form-control"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-xs-2">
                                    <button (click)="sortByDate();" class="btn btn-info sort-btn">Sort</button>
                                </div>
                                <div class="col-lg-2 col-xs-2">
                                    <button (click)="resetFilters();" class="btn btn-info sort-btn">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <ul class="list-group hotels" [hidden]="isDataLoading">
                        <li
                                stars
                                [class.active]="hotel.isSelected"
                                (click)="selectHotel(hotel);" class="list-group-item" *ngFor="#hotel of hotelsOnPage">
                            {{hotel.name}}
                            <ul class="stars">
                                <li
                                        [class.star-active]="selectedHotel == hotel"
                                        *ngFor="#star of hotel.stars">
                                    <i class="fa fa-star-o"></i>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-xs-12" *ngIf="selectedHotel != undefined">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Detail
                                <a [routerLink]="['Hotel', {id: selectedHotel.id}]">
                                    <i class="fa fa-eye" aria-hidden="true" link></i>
                                </a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-heading">
                                    <h4>Description</h4>
                                </div>
                                <div class="media-body">
                                    {{selectedHotel.description}}
                                </div>
                            </div>
                            <div
                                    *ngIf="selectedHotel.conditions?.length != 0"
                                    class="media-left">
                                <div class="media-heading text-center">
                                    <h4>Conditions</h4>
                                </div>
                                <div class="media" *ngFor="#condition of selectedHotel.conditions">
                                    <div class="media-heading text-center">
                                        <h6>{{condition.name}}</h6>
                                    </div>
                                    <div class="media-body">
                                        <div
                                                [class.one-element]="selectedHotel.rooms?.length == 0"
                                                id="conditions{{condition.id}}" class="carousel slide"
                                                data-ride="carousel">

                                            <div class="carousel-inner" role="listbox">
                                                <div [class.active]="i == 0" class="item"
                                                     *ngFor="#image of condition.images; #i = index">
                                                    <img class="image" [src]="image"/>
                                                </div>
                                            </div>

                                            <!-- Left and right controls -->
                                            <a class="left carousel-control" href="#conditions{{condition.id}}"
                                               role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#conditions{{condition.id}}"
                                               role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                    *ngIf="selectedHotel.rooms?.length != 0"
                                    class="media-right">
                                <div class="media-heading text-center">
                                    <h4>Rooms</h4>
                                </div>
                                <div class="media" *ngFor="#room of selectedHotel.rooms">
                                    <div class="media-heading text-center">
                                        <h6><i class="fa fa-key" aria-hidden="true"></i> {{room.number}}</h6>
                                    </div>
                                    <div class="media-body">
                                        <div
                                                [class.one-element]="selectedHotel.conditions?.length == 0"
                                                id="rooms{{room.id}}" class="carousel slide" data-ride="carousel">

                                            <div class="carousel-inner" role="listbox">
                                                <div [class.active]="i == 0" class="item"
                                                     *ngFor="#image of room.images; #i = index">
                                                    <img class="image" [src]="image"/>
                                                </div>
                                            </div>

                                            <!-- Left and right controls -->
                                            <a class="left carousel-control" href="#rooms{{room.id}}" role="button"
                                               data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#rooms{{room.id}}" role="button"
                                               data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>


    </div>
</div>