<div class="container-fluid custom-container">
    <spinner [isDataLoading]="isDataLoading"></spinner>
    <div *ngIf="!isDataLoading && orders?.length > 0">
        <h3>User's orders</h3>
        <table class="table table-bordered table-striped text-center">
            <th>Hotel Name</th>
            <th>Room <i class="fa fa-key" aria-hidden="true"></i></th>
            <th>Days</th>
            <th>Arrival</th>
            <th>Leaving</th>
            <th>Cost</th>
            <tr *ngFor="#order of orders">
                <td>{{order.hotelName}}</td>
                <td>{{order.roomNumber}}</td>
                <td>{{order.countOfDays}}</td>
                <td>{{order.arrivalDate | date}}</td>
                <td>{{order.leaveDate | date}}</td>
                <td>{{order.totalPrice | currency:'USD':true:'1.2-2'}}</td>
            </tr>
        </table>
    </div>
    <div *ngIf="!isDataLoading && (orders?.length == 0 || orders == null)">
        <h3>No orders.</h3>
    </div>
</div>