<div class="container custom-container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-xs-12 login-form">
            <form #form="ngForm" (ngSubmit)="submitForm(form.form.value);" class="form-group" >
                <fieldset>
                    <legend>User</legend>
                        <div class="form-group">
                            <input
                                    ngControl="login" #login="ngForm"
                                    placeholder="Login"
                                    type="text" class="form-control" id="login" required/>
                            <div
                                    *ngIf="login.touched && login.errors?.required"
                                    class="alert alert-warning">Name is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <input
                                    ngControl="password" #password="ngForm"
                                    placeholder="Password"
                                    type="password" class="form-control" id="password" required/>
                            <div
                                    *ngIf="password.touched && password.errors?.required"
                                    class="alert alert-warning">Password is required.
                            </div>
                        </div>
                </fieldset>
                <div
                        *ngIf="isUserExist"
                        class="alert alert-info text-center">
                    Service is unavailable.
                </div>
                <div
                        *ngIf="isErrorInCreds"
                        class="alert alert-danger text-center">
                    Wrong username or password.
                </div>
                <div class="text-center">
                    <button
                            id="loginBtn"
                            [disabled]="!form.valid"
                            type="submit" class="btn btn-success has-spinner">
                        Sign In
                        <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
                    </button>
                    <button class="btn btn-default" [routerLink]="['SignUp']">Sign Up</button>
                </div>
            </form>
        </div>
    </div>

</div>