.details {
    right: 2%;
    left: 50%;
}
.position-fixed{
    position: fixed;
}
.spinner-fixed{
    right: 25%; margin-top: 7%;
}
.hotels	li	{
    cursor:	default;
}
.hotels	li:hover	{
    background:	#ecf0f1;
    cursor:pointer;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus	{
    background-color:	#ecf0f1;
    border-color:	#ecf0f1;
    color:	#2c3e50;
}
.stars {
    margin-right: 2%;
}
.stars li {
    display: inline;
}
.star-active>i {
    color: orange;
}
.star-active>i:before{
    content: "\\f005";
}
.image {
    width: 100px;
    height: 100px;
}