<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-lg-12 col-xs-12 text-center">
            <h3>Angular 2 client side of hotel service project</h3>
        </div>
        <div class="col-lg-7 col-lg-offset-3 col-xs-12 custom-brands">
            <h3>Used tools and features:</h3>
            <ul>
                <li><img src="../../assets/images/angular-20_128.png"></li>
                <li><img src="../../assets/images/bitbucket-logo.png"></li>
                <li><img src="../../assets/images/download.png"></li>
                <li><img src="../../assets/images/html5-css3-130x100.png"></li>
            </ul>
        </div>
        <div class="col-lg-7 col-lg-offset-3 col-xs-12 custom-brands custom-hosts">
            <h3>Used cloud services:</h3>
            <ul>
                <li><img src="../../assets/images/heroku.png"></li>
                <li><img src="../../assets/images/azure-150x150.png"></li>
            </ul>
        </div>
    </div>
</div>