<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid nav-container">
        <div class="collapse navbar-collapse hidden-xs hidden-md" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li><a
                        [class.active]="_router.isRouteActive(_router.generate(['Home']))"
                        [routerLink]="['Home']" class="btn btn-default tab">Home</a>
                </li>
            </ul>

            <ul
                    id="tabs"
                    [hidden]="!isInternal"
                    class="nav navbar-nav">
                <li>
                    <a
                            [routerLink]="['Navigation/HotelRoute/Hotels']" class="btn btn-default tab">Hotels</a>
                </li>
                <li>
                    <a [routerLink]="['Navigation/Orders']" class="btn btn-default tab">
                        Orders <span *ngIf="ordersCount != null" class="badge">{{ordersCount}}</span>
                        <i *ngIf="ordersCount == null" class="fa fa-cog fa-spin" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li *ngIf="!isInternal">

                    <a
                            [class.active]="_router.isRouteActive(_router.generate(['Navigation/Login']))"
                            [routerLink]="['Navigation/Login']" class="btn btn-default">Sign In</a>
                </li>
                <li *ngIf="isInternal">
                    <a (click)="logout();" class="btn btn-primary tab">Log out</a>
                </li>
            </ul>

            <ul *ngIf="isInternal" class="nav navbar-nav navbar-right">
                <a class="navbar-brand"><i class="fa fa-user"></i> {{currentUser}}</a>
            </ul>
        </div>
        <div class="row">
            <div class="col-xs-12 hidden-lg hidden-md visible-xs">
                <div class="btn-group" role="group" aria-label="...">
                    <a
                            [class.active]="_router.isRouteActive(_router.generate(['Home']))"
                            [routerLink]="['Home']" class="btn btn-default">Home</a>
                    <a
                            [hidden]="!isInternal"
                            [routerLink]="['Navigation/HotelRoute/Hotels']" class="btn btn-default tab">Hotels</a>
                    <a
                            [hidden]="!isInternal"
                            [routerLink]="['Navigation/Orders']" class="btn btn-default tab">
                        Orders <span *ngIf="ordersCount != null" class="badge">{{ordersCount}}</span>
                        <i *ngIf="ordersCount == null" class="fa fa-cog fa-spin" aria-hidden="true"></i>
                    </a>
                    <a
                            *ngIf="!isInternal"
                            [class.active]="_router.isRouteActive(_router.generate(['Navigation/Login']))"
                            [routerLink]="['Navigation/Login']" class="btn btn-default">Sign In</a>
                    <a
                            *ngIf="isInternal"
                            (click)="logout();" class="btn btn-info">Log out</a>
                    <a
                            *ngIf="isInternal"
                            class="navbar-brand user"><i class="fa fa-user"></i> {{currentUser}}</a>
                </div>
            </div>
        </div>

    </div>
</nav>
<router-outlet></router-outlet>
