<nav>
    <ul class="pagination">
        <li (click)="onPrev();" [class.disabled]="isPrevDisabled">
            <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li
                [class.active]="page == currentPage"
                (click)="onClick(page);"
                *ngFor="#page of numberOfPages">
            <a>{{page}}</a></li>
        <li (click)="onNext();" [class.disabled]="isNextDisabled">
            <a aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>